{% extends 'mycash/base.html' %}
{% block title %}Manage Expense{% endblock %}

<!--
    ExpenseForm Created in the forms, this based on ModelForm, what it does is map the
    fields with the attributes of the class, and thus save it, update it and
    delete it.
        [CRUD]
-->

{% comment %}
    {% block savings %}
        <ul class="nav navbar-nav navbar-right horizontal">
            <li>
                <a>
                    <form method="post" class="form-inline" action="{% url 'mycash:add-cat' %}">
                         {% csrf_token %}
                        <input type="text" placeholder="New Category" id="category" class="button-color">
                        <button type="submit" class="button-color" >Save</button>
                    </form>
                </a>
            </li>
        </ul>
    {% endblock %}
{% endcomment %}

{% block savings %}
<ul class="nav navbar-nav navbar-right horizontal">
    <li><a>
        <button type="button" class="btn btn-link btn-xs" data-toggle="modal" data-target="#myModal">Expense Information!</button>
    </a></li>
</ul>
{% endblock %}

{% block body %}
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Expense</h4>
            </div>

            <div class="modal-body">
                <h5>Name</h5>
                <p>Must be alphanumeric</p>
                <hr>
                <h5>Amount</h5>
                <p>Positive number, can not be negative, since it is illogical!</p>
                <hr>
                <h5>Date</h5>
                <p>Date on which the expense was made.</p>
                <hr>
                <h5>Category</h5>
                <p>The expense belongs to a specific category</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-basic" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="col-sm-12">
    <div class="login-form">
        <h5 align="center" class="text-success fa-2x">{{ msg }}</h5>
        <form method="post">
            <h4 class="modal-title">Manage Expense</h4>

            {% csrf_token %}
            {% include 'mycash/form-template.html' %}

            <select name="template" class="form-control btn btn-success" onchange="this.form.submit()">
                <option value="-">----------</option>
                <option value="save">Save</option>
                <option value="another">Save and add Another</option>
            </select>
        </form>
    </div>
</div>
{% endblock %}