{% extends 'mycash/base.html' %}
{% block title %}Manage Income{% endblock %}

<!--
    IncomeForm Created in the forms, this based on ModelForm, what it does is map the
    fields with the attributes of the class, and thus save it, update it and
    delete it.
        [CRUD]
-->

{% block body %}
<div class="col-sm-12">
    <div class="login-form">
        <h4 align="center" class="text-success fa-2x">{{ msg }}</h4>
        <form method="post">
            <h4 class="modal-title">Manage Income</h4>

            {% csrf_token %}
            {% include 'mycash/form-template.html' %}

             <select name="template" class="form-control btn btn-success" onchange="this.form.submit()">
                <option value="-">----------</option>
                <option value="save">Save</option>
                <option value="another">Save and add Another</option>
            </select>

        </form>
    </div>
</div>

{% endblock %}